#logo {
  font-family: "Bruno Ace SC", serif;
  font-weight: bolder;
  margin-top: 0.1em;
  font-size: 80px;
}

#welcome {
  margin-bottom: 0.2em;
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  color: black;
}

.home-page {
  display: flexbox;
  width: 500px;
}

#header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  align-items: center;
  margin-top: 0.5px;
}

#content1 {
  display: flexbox;
}

#text-section {
  margin-bottom: 20px;
  background-color: #00000071;
  border-radius: 20px;
  padding: 10px;
  backdrop-filter: blur(40px);
  border: 1px dotted white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.unorderedList {
  padding: 0;
}
