#page-content {
  margin-bottom: 20px;
  background-color: #00000071;
  border-radius: 20px;
  padding: 50px;
  backdrop-filter: blur(40px);
  border: 1px dotted white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
}

h3 {
  padding-bottom: 20px;
  font-size: 25px;
}
